<!DOCTYPE html>
<html>
  <head>
    <title>Ketsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
    <%# <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Taviraj&display=swap" rel="stylesheet"> %>
    <%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
    <%# <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Taviraj:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.defaultpicture = "<%= image_url('defaultpicture.jpg')%>"
      window.emptyStarIcon = "<%= image_url('emptyStarIcon.jpg')%>"
      window.starIcon = "<%= image_url('starIcon.jpg')%>"
      window.blackWhite = "<%= image_url('black-white.jpg')%>"
      window.landscape = "<%= image_url('landscape.jpg')%>"
      window.freestyle = "<%= image_url('freestyle.jpeg')%>"
      window.modern = "<%= image_url('modern.jpg')%>"
      window.paint = "<%= image_url('paint.jpg')%>"
      window.nature = "<%= image_url('nature.jpg')%>"
      window.shoppingCart = "<%= image_url('shopping_cart.jpg')%>"
      window.linkedin = "<%= image_url('linkedin.jpg')%>"
      window.github = "<%= image_url('github.jpg')%>"
      window.mailicon = "<%= image_url('mailicon.jpg')%>"
      window.downloadiconbtn = "<%= image_url('downloadiconbtn.jpg')%>"
      window.ketsylogo = "<%= image_url('ketsylogo.jpg')%>"
      window.usaIcon = "<%= image_url('usaIcon.jpg')%>"
      window.nature1 = "<%= image_url('nature1.jpg')%>"
      window.nature2 = "<%= image_url('nature2.jpg')%>"
      window.nature3 = "<%= image_url('nature3.jpg')%>"
      window.nature4 = "<%= image_url('nature4.jpg')%>"
      window.nature5 = "<%= image_url('nature5.jpg')%>"
      window.nature6 = "<%= image_url('nature6.jpg')%>"
      window.nature7 = "<%= image_url('nature7.jpg')%>"
      window.nature8 = "<%= image_url('nature8.jpg')%>"
      window.nature9 = "<%= image_url('nature9.jpg')%>"
      window.nature10 = "<%= image_url('nature10.jpg')%>"
      window.blackwhite1 = "<%= image_url('black-white1.jpg')%>"
      window.misq1 = "<%= image_url('misq1.jpg')%>"
      window.misq4 = "<%= image_url('misq4.jpg')%>"
      window.street1 = "<%= image_url('street1.jpg')%>"
      window.street3 = "<%= image_url('street3.jpg')%>"
      window.street2 = "<%= image_url('street2.jpg')%>"
      window.misq2 = "<%= image_url('misq2.jpg')%>"
      window.nature11 = "<%= image_url('nature11.jpg')%>"
      window.blackwhite2 = "<%= image_url('blackwhite2.jpg')%>"
      window.street4 = "<%= image_url('street4.jpg')%>"
      window.street5 = "<%= image_url('street5.jpg')%>"
      window.street6 = "<%= image_url('street6.jpg')%>"
      window.street7 = "<%= image_url('street7.jpg')%>"
      window.street8 = "<%= image_url('street8.jpg')%>"
      window.street9 = "<%= image_url('street9.jpg')%>"
      window.street10 = "<%= image_url('street10.jpg')%>"
      window.street11 = "<%= image_url('street11.jpg')%>"
      window.street12 = "<%= image_url('street12.jpg')%>"
      window.nature12 = "<%= image_url('nature12.jpg')%>"
      window.nature13 = "<%= image_url('nature13.jpg')%>"
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
