<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
    <%# <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Taviraj&display=swap" rel="stylesheet"> %>
    <%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
    <%# <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Taviraj:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.defaultpicture = "<%= image_url('defaultpicture.jpg')%>"
      window.emptyStarIcon = "<%= image_url('emptyStarIcon.jpg')%>"
      window.starIcon = "<%= image_url('starIcon.jpg')%>"
      window.blackWhite = "<%= image_url('black-white.jpg')%>"
      window.landscape = "<%= image_url('landscape.jpg')%>"
      window.freestyle = "<%= image_url('freestyle.jpeg')%>"
      window.modern = "<%= image_url('modern.jpg')%>"
      window.paint = "<%= image_url('paint.jpg')%>"
      window.nature = "<%= image_url('nature.jpg')%>"
      window.shoppingCart = "<%= image_url('shopping_cart.jpg')%>"
      window.linkedin = "<%= image_url('linkedin.jpg')%>"
      window.github = "<%= image_url('github.jpg')%>"
      window.mailicon = "<%= image_url('mailicon.jpg')%>"
      window.downloadiconbtn = "<%= image_url('downloadiconbtn.jpg')%>"
      window.ketsylogo = "<%= image_url('ketsylogo.jpg')%>"
      window.usaIcon = "<%= image_url('usaIcon.jpg')%>"
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
