<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
    <%# <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Taviraj&display=swap" rel="stylesheet"> %>
    <%# <link rel="preconnect" href="https://fonts.googleapis.com"> %>
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>
    <%# <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Taviraj:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.testProductPicture = "<%= image_url('bones.jpg') %>"
      window.testPetsyLogo = "<%= image_url('PetsyLogo.jpg')%>"
      window.testReviewImage = "<%= image_url('review_image.jpg')%>"
      window.defaultpicture = "<%= image_url('defaultpicture.jpg')%>"
      window.emptyStarIcon = "<%= image_url('emptyStarIcon.jpg')%>"
      window.starIcon = "<%= image_url('starIcon.jpg')%>"
      window.splashImage1 = "<%= image_url('splash-image-1')%>"
      window.splashImage2 = "<%= image_url('splash-image-2')%>"
      window.splashImage3 = "<%= image_url('splash-image-3')%>"
      window.splashImage4 = "<%= image_url('splash-image-4')%>"
      window.blackWhite = "<%= image_url('black-white.jpg')%>"
      window.landscape = "<%= image_url('landscape.jpg')%>"
      window.canvas = "<%= image_url('canvas.jpeg')%>"
      window.modern = "<%= image_url('modern.jpg')%>"
      window.paint = "<%= image_url('paint.jpg')%>"
      window.street = "<%= image_url('street.jpg')%>"
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
